.btn {
    background-color: #E55604;
    padding: 15px 35px; 
    border: 1px solid #E55604;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;

}

.counter{
    font-size: 2rem;
}

.counter span {
    color: blue;
    font-weight: bold;
    padding: 1rem;
}